<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>会员列表页</title>
</head>
<body>
<textarea id="demo" style="display: none;"></textarea>
<script>
    layui.use('layedit', function(){
        var layedit = layui.layedit;
        layedit.set({
            uploadImage: {
                url: '' //接口url
                ,type: '' //默认post
            }
        });
//注意：layedit.set 一定要放在 build 前面，否则配置全局接口将无效。
        layedit.build('demo',{
            height: 500, //设置编辑器高度
            uploadImage: {url: '/upload/', type: 'post'}
        }); //建立编辑器
    });
</script>
</body>
</html>